h1 {
    font-weight: 600;
}

p {
    color: #bab9ba;
}

h5 {
    padding-top: 20px;
    padding-left: 10px;
    color: black;
}


#call-now {
    color: red;
    font-weight: 600;
    padding-top: 9px;
    text-align: right;
}

#premium {
    padding-top: 9px;
    text-align: left;
    margin-left: 50px;
}


.btn-grad {
    background-image: linear-gradient(to bottom, #fe8c00 30%, #fe8c00  0%, #f83600  100% )
}

.btn-grad {
   margin: 10px;
   padding: 10px 10px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color:#bab9ba;            
   box-shadow: 0 0 20px #eee;
   border-radius: 25px;
   display: block;
   font-weight: bold;
   border: 5px solid #eee;
 }

  .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 } 

 
.btn-grad2 {
     background-image: linear-gradient(to bottom,  #eef2f3  60%, #eef2f3 20%, #cfd6db  100%)
    }

.btn-grad2 {
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #bab9ba;            
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
    font-weight: bold;
    border: 5px solid #eee;
  }

.btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.section-1 img{
    height: 99%;
    width: 99%;
}


.section-3 #left p {
    color: orange;
}

.section-3 hr {
    display: block;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}



.section-4 img {
    height: 99%;
    width: 99%;
    border: 5px solid #eee;
}


.section-5 blockquote p {
    padding: 30px 50px 40px 50px;
    border: 2px solid #eee;
    font-size: 22px;
    text-align: center;
    font-style: italic;
}

.section-5 blockquote p::before {
    content: '\201C';
}

.section-5 blockquote p::after {
    content: '\201D';
}

.section-5 .quote-footer {
    color: #bab9ba;
}

.footer {
    background: rgba(32, 29, 29, 0.9);
    padding: 10px 10px 10px 10px;
}

.footer h3 {
    color: rgb(202, 202, 202);
}

.footer p {
    color: rgb(160, 160, 160);
}

.end-footer {
    background-color: #212222;
}

.end-footer p {
    margin-top: 10px;
}

.end-footer p span {
    color: orange;
    font-style: italic;
}

